@import '../../styles/button';

.modal {
  &-bg {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }

  padding: 50px;
  background-color: #fff;
  text-align: center;

  h1 {
    margin-bottom: 1em;
    font-size: 20px;
  }

  &__buttons {
    display: flex;

    button {
      @extend .button;

      flex: auto;
      padding: 10px 40px;
      margin: 0 10px;
      font-weight: bold;
    }
  }
}
